.cookieConsent {
    background: #2b373b !important;
    color: white !important;
  }
  
  .cookieConsent button {
    background: #ffd700 !important;
    color: #4e503b !important;
    border-radius: 5px !important;
    padding: 5px 10px !important;
    font-size: 14px !important;
  }
  
  .audio-player {
    width: 470px;
    padding: 5px;
    margin: auto;
    color: black;
    background-color: white;
    border: 1px solid black;
  }
  
  .audio-player .player-controls {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .audio-player #radioIcon {
    width: 30px;
    height: 30px;
    background: url('https://img.icons8.com/ios/50/000000/microphone.png') no-repeat center;
    background-size: contain;
  }
  
  .audio-player #playAudio {
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    border: none;
    width: 30px;
    height: 30px;
    background: url('https://img.icons8.com/play') no-repeat center;
    background-size: contain;
  }
  
  .audio-player #playAudio.pause {
    background: url('https://img.icons8.com/pause') no-repeat center;
    background-size: contain;
  }
  
  .audio-player p {
    margin: 0 0 0 5px;
    line-height: 1;
    display: inline-flex;
  }
  
  .audio-player p small {
    font-size: 10px;
  }
  
  .audio-player #seekObjContainer {
    position: relative;
    width: 300px;
    margin: 0 5px;
    height: 5px;
  }
  
  .audio-player #seekObj {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid black;
  }
  
  .audio-player #seekObj #percentage {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: coral;
  }
  